.page_main {
  background-image: url("/main_background.jpg");
  height: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .search_box {
    width: 72rem;
    .search_form {
      padding: 2.4rem;
    }
  }
}

.recent_search_val_wrapper {
  position: absolute;
  top: 36rem;
  width: 72rem;
  // padding: 4rem;
  border-top: 1px solid #ddd;
  background-color: white;
  .recent_search_info {
    padding: 1rem;
    background-color: #363944;
    color: white;
  }
  .recent_search_val_container {
    display: flex;
    flex-wrap: wrap;

    .recent_search_val {
      flex: 1 33%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid #ddd;
      padding: 1rem;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
