@import "../variable";

.page_main {
  background-image: url("/main_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 96rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .search_box {
    width: 72rem;
    .search_form {
      padding: 2.4rem;
    }
  }
}

.recent_search_val_wrapper {
  position: absolute;
  top: 62rem;
  width: 72rem;
  font-size: 1.4rem;
  background-color: $color-white;
  .recent_search_info {
    padding: 1rem;
    background-color: $color-bar;
    color: $color-white;
  }
  .recent_search_val_container {
    display: flex;
    flex-wrap: wrap;
    span {
      line-height: 2rem;
    }

    .recent_search_val {
      flex: 1 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid $color-light-border;
      padding: 1rem;
      text-decoration: none;
      &:hover {
        background-color: $color-light-border;
        cursor: pointer;
      }
      .delete_recent {
        &:hover {
          color: $color-red;
        }
      }
    }
  }
}
