@import "../variable";

.ranking_page {
  padding: 2.4rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;

  .ranking_page_wrapper {
    width: 108rem;
    margin: 0 auto;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      thead {
        background-color: $color-light-border;
        col {
          width: auto;
        }
        th {
          border: none;
        }
      }
      tbody {
        .rank_summoner_name {
          &:hover {
            cursor: pointer;
          }
        }
        td {
          padding: 0.8rem;
          border-bottom: 1px solid $color-light-border;
        }
      }
    }
    .select_queue_type {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $color-light-border;
      div {
        font-size: 1.6rem;
        padding: 12px;
        margin-bottom: -0.1rem;
        cursor: pointer;
        border: 1px solid;
        border-color: $color-white;
        border-bottom: 1px solid $color-light-border;
        border-radius: $default-border-radius $default-border-radius 0 0;

        &:hover {
          animation: duration 500ms forwards;
          border: 1px solid $color-bar;
          border-color: $color-light-border;
        }
        &.selected_tab {
          &:hover {
            animation: none;
          }
          background-color: $color-bar;
          color: $color-white;
        }
      }
    }
  }
}
