@import "../variable";

.match_wrapper {
  .match_summary_wrapper {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    &.match_win {
      background-color: $color-win;
      .item_wrapper {
        .item_icon {
          background-color: $color-win-bold;
        }
      }
      button {
        &::after {
          border-top: 3px solid $color-win-bold; /* 선 두께 */
          border-right: 3px solid $color-win-bold; /* 선 두께 */
        }
      }
    }
    &.match_lose {
      background-color: $color-lose;
      .item_wrapper {
        .item_icon {
          background-color: $color-lose-med;
        }
      }
      button {
        &::after {
          border-top: 3px solid $color-lose-bold; /* 선 두께 */
          border-right: 3px solid $color-lose-bold; /* 선 두께 */
        }
      }
    }

    .match_result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .open_close_btn_wrapper {
      flex-grow: 1;

      button {
        height: 100%;
        width: 100%;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          left: 50%;
          // bottom: 2rem;
          width: 0.8rem;
          height: 0.8rem;
          transform: translateX(-50%) rotate(135deg); /* 각도 */
        }
        &.close {
          &::after {
            transform: translateX(-50%) rotate(315deg);
          }
        }
      }
    }
  }
  .match_detail_wrapper {
    display: flex;
    flex-direction: column;
    .match_detail {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(1fr, 5);
      border-top: 1px solid $color-light-border;
    }
  }

  .match_summary {
    img {
      width: 2.4rem;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 3fr;
    align-items: center;
    padding: 0.4rem 1.6rem;

    &.match_win {
      background-color: $color-win;
      .item_wrapper {
        .item_icon {
          background-color: $color-win-bold;
        }
      }
    }
    &.match_lose {
      background-color: $color-lose;
      .item_wrapper {
        .item_icon {
          background-color: $color-lose-med;
        }
      }
    }

    .champ_icon {
      position: relative;
      width: 4rem;
      img {
        width: 4rem;
      }
      .champ_level {
        position: absolute;
        color: $color-white;
        background-color: $color-black;
        padding: 0.2rem;
        right: 0;
        bottom: 0;
      }
    }

    .spell_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .summoner_info_wrapper {
      display: flex;
      flex-direction: column;
      .summoner_level {
        font-weight: lighter;
      }
    }
    .rune_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .kda_wrapper {
      flex-grow: 1;
      span {
        margin-right: 0.4rem;
      }
      .kda_death {
        color: $color-red;
      }
    }

    .item_wrapper {
      flex-grow: 1;
      display: flex;
      .item_icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.4rem;
      }
    }
  }

  margin-bottom: 1.6rem;
  img {
    width: 2.4rem;
  }
}
