.match_wrapper {
  .match_summary_wrapper {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    &.match_win {
      background-color: #ecf2ff;
      .item_wrapper {
        .item_icon {
          background-color: #81acff;
        }
      }
      button {
        &::after {
          border-top: 3px solid #81acff; /* 선 두께 */
          border-right: 3px solid #81acff; /* 선 두께 */
        }
      }
    }
    &.match_lose {
      background-color: #fff1f3;
      .item_wrapper {
        .item_icon {
          background-color: #ffd8d9;
        }
      }
      button {
        &::after {
          border-top: 3px solid #ff6c81; /* 선 두께 */
          border-right: 3px solid #ff6c81; /* 선 두께 */
        }
      }
    }

    .match_result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .open_close_btn_wrapper {
      flex-grow: 1;

      button {
        height: 100%;
        width: 100%;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          left: 50%;
          // bottom: 2rem;
          width: 0.8rem;
          height: 0.8rem;
          transform: translateX(-50%) rotate(135deg); /* 각도 */
        }
        &.close {
          &::after {
            transform: translateX(-50%) rotate(315deg);
          }
        }
      }
    }
  }
  .match_detail_wrapper {
    display: flex;
    flex-direction: row;
    .match_detail {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(1fr, 5);
      border-top: 1px solid #dddd;
    }
  }

  .match_summary {
    img {
      width: 2.4rem;
      border-radius: 1rem;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 3fr;
    align-items: center;
    padding: 1.6rem;

    &.match_win {
      background-color: #ecf2ff;
      .item_wrapper {
        .item_icon {
          background-color: #81acff;
        }
      }
    }
    &.match_lose {
      background-color: #fff1f3;
      .item_wrapper {
        .item_icon {
          background-color: #ffd8d9;
        }
      }
    }

    .spell_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .summoner_info_wrapper {
      display: flex;
      flex-direction: column;
      .summoner_level {
        font-weight: lighter;
      }
    }
    .rune_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .kda_wrapper {
      flex-grow: 1;
      span {
        margin-right: 0.4rem;
      }
      .kda_death {
        color: red;
      }
    }

    .item_wrapper {
      flex-grow: 1;
      display: flex;
      .item_icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.4rem;
        border-radius: 1rem;
      }
    }
  }

  margin-bottom: 1.6rem;
  img {
    width: 2.4rem;
    border-radius: 1rem;
  }
}

@media (max-width: 781px) {
  .match_wrapper {
    .match_detail_wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
