@import "../variable";

.match_wrapper {
  .match_summary_wrapper {
    display: grid;
    // width: 70rem;
    grid-template-columns: 1fr 11fr 1fr;
    padding: 1rem 1rem;
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    &.match_win {
      background-color: $color-win;
      .item_wrapper {
        .item_icon {
          background-color: $color-win-bold;
        }
      }
      button {
        &::after {
          border-top: 3px solid $color-win-bold; /* 선 두께 */
          border-right: 3px solid $color-win-bold; /* 선 두께 */
        }
      }
    }
    &.match_lose {
      background-color: $color-lose;
      .item_wrapper {
        .item_icon {
          background-color: $color-lose-med;
        }
      }
      button {
        &::after {
          border-top: 3px solid $color-lose-bold; /* 선 두께 */
          border-right: 3px solid $color-lose-bold; /* 선 두께 */
        }
      }
    }

    .match_result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;

      span {
        &:first-child {
          font-weight: bold;
        }
        &.win {
          color: $color-win-bold;
        }
        &.lose {
          color: $color-lose-bold;
        }
      }
    }

    .open_close_btn_wrapper {
      flex-grow: 1;

      button {
        height: 100%;
        width: 100%;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          left: 50%;
          width: 0.8rem;
          height: 0.8rem;
          transform: translateX(-50%) rotate(135deg); /* 각도 */
        }
        &.close {
          &::after {
            transform: translateX(-50%) rotate(315deg);
          }
        }
      }
    }
  }
  .match_detail_wrapper {
    display: flex;
    flex-direction: column;
    .match_detail {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(1fr, 5);
      border-top: 1px solid $color-light-border;
    }
  }

  .match_component,
  .match_summary {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 2fr 1fr 3fr;
    align-items: center;
    padding: 0.4rem 1.6rem;

    &.match_win {
      background-color: $color-win;
      .item_wrapper {
        .item_icon {
          background-color: $color-win-bold;
        }
      }
    }
    &.match_lose {
      background-color: $color-lose;
      .item_wrapper {
        .item_icon {
          background-color: $color-lose-med;
        }
      }
    }

    .champ_icon {
      position: relative;
      width: 4rem;
      img {
        width: 4rem;
      }
      .champ_level {
        position: absolute;
        color: $color-white;
        background-color: $color-black;
        padding: 0.2rem;
        right: 0;
        bottom: 0;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .summoner_info_wrapper {
      .summoner_level {
        font-weight: lighter;
      }
    }

    .kda_wrapper {
      span {
        margin-right: 0.4rem;
        font-size: 1.1rem;
      }
      .kda_death {
        color: $color-red;
      }
    }

    .item_wrapper {
      display: flex;
      justify-content: center;
      .item_icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.4rem;
      }
    }
  }

  .match_summary {
    grid-template-columns: 1fr 1fr 1fr 2fr 3fr;
  }

  margin-bottom: 1.6rem;
  img {
    width: 2.4rem;
  }
}
