@import "../variable";

.summoner_champ_info {
  border-radius: 0.8rem;
  border: 1px solid $color-light-border;
  margin-right: 1rem;
  width: 34rem;
  .summoner_recent_header {
    display: flex;
    flex-direction: column;
  }
  .recent_champ_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.4rem;
    border-bottom: 1px solid $color-light-border;

    .recent_champ_kda {
      span {
        &:nth-child(2) {
          color: $color-red;
        }
      }
    }
    .champ_icon {
      div {
        img {
          border-radius: 50%;
          width: 3.2rem;
        }
      }
    }
    div {
      margin-right: 0.8rem;
    }
  }
}
