$color-main: #007bff;
$color-red: red;
$color-bar: #343a40;
$color-black: black;
$color-white: white;
$color-aqua: aqua;
$color-light-border: #dddd;
$color-lighter-border: #f7f7f9;
$color-win: #ecf2ff;
$font-color-win: #004085;
$color-win-bold: #81acff;
$color-lose: #fff1f3;
$color-lose-bold: #ff6c81;
$color-lose-med: #ffd8d9;
$default-border-radius: 6px;
