$color-main: #007bff;
$color-red: red;
$color-bar: #343a40;
$color-light-border: #dee2e6;
$background-color-defeat: #f5c6cb;
$font-color-defeat: #721c24;
$background-color-win: #b8daff;
$font-color-win: #004085;
$default-border-radius: 6px;

$rarity-unique: #ef32f2;
$rarity-rare: #9955f3;
$rarity-uncommon: #5dafb0;
$rarity-common: white;
